@page "/perfil"
@using Services;
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject NavigationManager nav
@inject ProtectedSessionStorage storage
@inject UserService service 

    <p>@nome</p>
    <p>@matricula</p>
    <p>@email</p>]
    <p>@telefone</p>
    <p>@endereco</p>
    <p>@Setor</p>
    <p>@empresa</p>
    <p>@cidade</p>   
    <p>@estado</p>
    <p>@UF</p>
    <p>@DataNascimento</p>
    
<BeautyNav></BeautyNav>

@code
{
    public string nome;
    public string matricula;
    public string email;
    public string telefone;
    public string endereco;
    public string UF;
    public string estado;
    public string cidade;
    public string empresa;
    public string Setor;
    public DateTime DataNascimento;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(!firstRender)
        {
            return;
        }
        var token = await storage.GetAsync<string>("token");
        var user = await service.GetUserInfo(token.Value);

        this.nome = user.Nome;
        this.matricula = user.Matricula;
        this.email = user.Email;
        this.telefone = user.telefone;
        StateHasChanged();
    }
}

